:root {
    --primary-color: #B52C2C;
    --secondary-color: #E2E1E1;
    --primary-backgroud: #A5A5A5;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.main-body {
    background: var(--primary-backgroud);
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 30px;
}

.logo-name {
    margin-bottom: 42px;
}

.logo-name {
    height: 40px;
}

.name {
    font-size: 28px;
    margin: 0;
}

.coder-text {
    color: #45A7C5;
}

.academy-text {
    color: #1C3C5C;
}

img {
    height: 28px;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}

.social-media a i {
    color: black;
    font-size: 20px;
}

.info {
    color: black;
}

.info p {
    margin: 5px 0;
}

@media screen and (min-width: 576px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .logo-name {
        margin-bottom: 0;
    }

    nav {
        width: 50%;
    }

    .social-media {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    body {
        padding: 0 15vw;
    }
}